header {
    background-color: #244754;
    color: #e8fdff
}

body {
    background-color: rgb(180, 49, 49);
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
  }

  a.photo:hover {
      padding: -10px;
      transition: padding 0.5s;
  }

  a.photo {
      transition: padding 0.5s;
  }

  .header-color {
      background-color: indianred;
  }